.toggle.red.active {
    background-color: transparent;
    border: 2px solid #9E0B0B;
    -webkit-box-shadow: inset 0 0 0 13px #D81E1E;
    box-shadow: inset 0 0 0 13px #D81E1E;
}

.toggle.red.active .toggle-handle {
    -webkit-transform: translate3d(17px,0,0);
    -ms-transform: translate3d(17px,0,0);
    transform: translate3d(17px,0,0);
    border-color: #9E0B0B;
}
.toggle.yellow.active {
    background-color: transparent;
    border: 2px solid #BDB20A;
    -webkit-box-shadow: inset 0 0 0 13px #ECE033;
    box-shadow: inset 0 0 0 13px #ECE033;
}

.toggle.yellow.active .toggle-handle {
    -webkit-transform: translate3d(17px,0,0);
    -ms-transform: translate3d(17px,0,0);
    transform: translate3d(17px,0,0);
    border-color: #BDB20A;
}
.toggle.green.active {
    background-color: transparent;
    border: 2px solid #449D44;
    -webkit-box-shadow: inset 0 0 0 13px #4CD964;
    box-shadow: inset 0 0 0 13px #4CD964;
}

.toggle.green.active .toggle-handle {
    -webkit-transform: translate3d(17px,0,0);
    -ms-transform: translate3d(17px,0,0);
    transform: translate3d(17px,0,0);
    border-color: #449D44;
}

.toggle.active .toggle-handle {
    transform: translate3d(17px, 0px, 0px) !important;
}

.toggle .toggle-handle {
    transform: translate3d(0px, 0px, 0px) !important;
}